div.row(ng-controller="WatchlistDetailsController")
    div.large-12



        table.movieTable.table(ng-table="tableParams",show-filter="true")

            tr(ng-repeat="movie in movies" )

                td.mt-poster(data-title="'Poster'")
                    img(src="{{movie.Poster}}")
                td.mt-title(data-title="'Title'",sortable="Title",filter="{ 'Title': 'text' }")
                    {{movie.Title}}
                td.mt-year(data-title="'Year'",sortable="Year")
                    {{movie.Year}}
                td.mt-plot(data-title="'Plot'")
                    {{movie.Plot}}
                td(data-title="'Rating'",sortable="imdbRating")
                    h2 {{movie.imdbRating}}
