@import "foundation";

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.signin {

}

.movieTable {
  width: 100%;

  .mt-title {
    width: 150px;
  }
  .mt-poster {
    width: 20px;

  }
  .mt-year {
    width: 80px;

  }
  .mt-poster > img {
    width: 80px;
  }

  .mt-plot {
    width: 580px;
    font-style: italic;
  }

  .sortable.sort-desc:before {
    content: "↑";
    font-size: 26px;
    margin-right: 6px;
    float: left;

  }
  .sortable.sort-asc:before {
    content: "↓";
    font-size: 26px;
    margin-right: 6px;
    float: left;

  }

}

.movieGrid {

  .mg-item {
    height:200px;

    //transition: 1s all;
    img {
      transition: 1s all;
      transform: rotateY(2deg);
    }


    &.watched {
      img {
        opacity: 0.4;
        transform: rotateY(60deg);
      }
    }
  }
}
.view {
  display: block;
  //border: 1px dashed black;
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden;
  background: #FFF;



}
//.view.ng-enter {
//  -webkit-transition: 1s;
  //transition: 1s;
  //opacity:0;
//}

//.view.ng-leave {
//  -webkit-transition: 1s;
  //transition: 1s;
  //opacity:1;
//}
