
script(src="/components/jquery/jquery.min.js")
script(src="/components/angular/angular.min.js")
script(src="/components/angular/angular.min.js")

script(src="/components/ng-table/ng-table.js")
script(src="/components/underscore/underscore-min.js")

script(src="/javascripts/libs/angular-route.min.js")
script(src="/javascripts/app.js")
script(src="/javascripts/WatchlistDetailsController.js")
script(src="/javascripts/WatchlistController.js")
script(src="/javascripts/GetListController.js")