extends layouts/default

block content
    a.button(href='#home') Grid
    a.button(href='#details') Details
    h1= title

    div
        ng-view.view

append scripts
    script
        var movies = JSON.parse(_.unescape("#{listString}"));