!!! 5
html(ng-app='BetterWatchList')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
    body


    block content

p
    | Created by
    a(href='http://bobbijvoet.nl') Bob Bijvoet

block scripts
    include ../blocks/scripts


